@model WebPchelki.Models.Entities.Product
@{
    ViewBag.Title = "Добавление продукта";
}

<form asp-action="Add" asp-controller="Home">
    <div class="form-group">
        <p>Тип продукта</p>
        <input type="text" name="type" class="form-control" />
    </div>
    <div class="form-group">
        <p>Название</p>
        <input type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <p>Кол-во</p>
        <input type="text" name="number" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>
